@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 215 25% 27%;
    --card: 210 40% 98%;
    --card-foreground: 215 25% 27%;
    --popover: 210 40% 98%;
    --popover-foreground: 215 25% 27%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 216 34% 91%;
    --secondary-foreground: 215 25% 27%;
    --muted: 216 34% 91%;
    --muted-foreground: 215 20% 65%;
    --accent: 45 93% 47%;
    --accent-foreground: 45 93% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 214 20% 86%;
    --input: 214 20% 86%;
    --ring: 217 91% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 215 28% 23%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 23%;
    --muted-foreground: 215 20% 65%;
    --accent: 45 93% 47%;
    --accent-foreground: 45 93% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 215 28% 23%;
    --input: 215 28% 23%;
    --ring: 217 91% 60%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
